.header {
  color: #fff;
  margin: 20px;
}

.headerItem {
  min-width: 121px;
}

.headerItem:hover {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0.5px 0.5px #fff;
}

.headerItem a {
  color: white;
}

.headerItem a:hover {
  text-decoration: none;
  text-shadow: 0.5px 0.5px #fff;
}

@media only screen and (min-width: 700px) {
  .header {
    font-size: 25px;
  }
}